<?xml version="1.0" encoding="utf-8"?>
<configuration>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="MapSource.A" value="AWS API URL HERE"/>
    <add key="MapSource.B" value="ON-PREM API URL HERE"/>
    <add key="API_KEY" value="API KEY HERE"/>
    <add key="APP_KEY" value="APP KEY HERE"/>
    <add key="MaxResults" value="100"/>
    <add key="DefaultCriteria" value=""/>
  </appSettings>
</configuration>
